[2018-03-12 08:34] kinuthiaduncan opened #1 "Using Vue-Cytoscape with cytoscape context menus"
Hello,
Thanks for the great work!
However, I have an issue with incorporating cytoscape context menus with vue-cytoscape.

[2018-03-12 08:47] rcarcasses commented on #1
Hi @kinuthiaduncan, thanks for pointing this out. Can you provide further details about what you did and what failed?

[2018-03-12 08:51] kinuthiaduncan commented on #1
Yes, this is what I am using

[2018-03-12 08:58] kinuthiaduncan commented on #1
Great, thanks!

[2018-03-15 10:17] rcarcasses commented on #1
Hi again,

So I have added two internal lifecycle hooks that you can use to register and configure extensions. I have updated the readme with the relevant information for you at the end, in particular there are two new example files that you can check how effectively use these lifecycle hooks. I have tested it with two different context menu extensions and everything seems to be properly working.

[2018-03-15 10:18] rcarcasses commented on #1
solved in  1935cb5,  version 0.1.2.

[2018-03-15 10:18] #1 closed

[2018-03-15 11:52] kinuthiaduncan commented on #1
Works great
Thanks

[2018-06-10 05:11] steve-heine opened #2 "Issue when included via webpack in production mode"
With a vue-cli webpack option, on a run build i'm getting the following error

TypeError: e.registerBinding is not a function
    at vue-cytoscape.js:formatted:1
    at vue-cytoscape.js:formatted:1
    at _.a.load (vue-cytoscape.js:formatted:1)
    at _.s.notify (vue-cytoscape.js:formatted:1)
    at u.notify (vue-cytoscape.js:formatted:1)
    at u.initRenderer (vue-cytoscape.js:formatted:1)
    at

[2018-06-11 14:47] rcarcasses commented on #2
Hi, sorry for the late reply, can you provide a small testable example so I can reproduce it? Thank you for your patience.

[2018-06-11 18:36] steve-heine commented on #2
Not a problem, I think it may actually be related to the specific build of
cytoscape, and is resolved in the next release. I tested your code as a
regular component and it worked fine. Cytoscape has a known bug for that
version when running webpack with broken polyfills, so i suspect I may be
hitting that.

I’ll try and get an example thrown together later, hopefully tonight.

On Mon, Jun 11, 2018

[2018-06-11 18:58] rcarcasses commented on #2
Okay thank you, I'm eager to see, it may be the case that I shipped a wrong configuration.

[2018-07-24 09:02] rcarcasses commented on #2
Any news on this gentleman? Can you provide a reproducible example?

[2018-08-28 13:02] wooter-s commented on #2
Same problem；Have you solve the problem?
In my local development is ok;Via webpack to build online; throw err

`TypeError: e.registerBinding is not a function
    at monitorDetail.fa9e4fc1ed86a0232e93.js:1
    at monitorDetail.fa9e4fc1ed86a0232e93.js:1
    at T.a.load (monitorDetail.fa9e4fc1ed86a0232e93.js:1)
    at T.l.notify (monitorDetail.fa9e4fc1ed86a0232e93.js:1)
    at u.notify (monitorDetai

[2018-10-26 03:05] Feng-ChuanJiang commented on #2
是的，我也遇到这个问题，有解决方案吗

[2018-10-26 16:05] rcarcasses commented on #2
Okay, I just created a new project with the latest vue-cli, imported vue-cytoscape, put some dummy code inside and build it for production and all seems to be fine. I'm not sure but this may be related to webpack configuration you are using, for building I just invoked *yarn build* which is just a call to "vue-cli-service build". You can find the source code of the example here:

[`https://github.

[2018-11-02 12:02] rcarcasses commented on #2
This doesn't seem like a *vue-cytoscape* issue but a webpack build config. If you experience the same problem and you are willing to share a concrete example then feel free to open a new issue.

[2018-11-02 12:02] #2 closed

[2019-02-08 20:31] enodr opened #3 "Error with latest vue-cli project"
Hi,

I am trying to use the component with the latest vue-cli and when trying to serve the app I get this error:
`[Vue warn]: Failed to mount component: template or render function not defined.`

I rebuilt from source but cannot find what the problem is. Any idea?

[2019-02-08 20:39] rcarcasses commented on #3
Hi @enodr, can you provide a minimum reproducible example so I can check what's going wrong? Latest version is 0.2.3, are you using that one?

[2019-02-09 09:02] enodr commented on #3
I figured out. You have packaged as a Vue plugin not a view component, thus I overlooked the fact that I had to declare  `Vue.use(VueCytoscape)` inside the main.js just before calling new Vue().
Maybe you could just mention this in the readme to clear up confusions. I am just wondering why using the plugin format instead of simple component? Is this because $cytoscape is made accessible globally?

[2019-02-09 09:07] rcarcasses commented on #3
Great that you figured out :) The instructions you mention are already on the README but anyway I'll try to improved it to make it clearer for new users. Yes, the plugin option is the cleanest way (I think) to register a global variable. If you have any other difficulties, let me know!

[2019-02-09 09:07] #3 closed

[2019-02-10 17:32] m-wrzr opened #4 "Layout Extensions"
Hey, thanks for this library!

I have a question regarding cytoscape layout extensions: is it possible to use them directly within vue-cytoscape? And if so how?
The recommended import as described in e.g. https://github.com/cytoscape/cytoscape.js-cola doesn't work for me.

Sry, relatively new to Vue/Javascript in general..

[2019-02-10 20:02] rcarcasses commented on #4
Hey @m-wrzr, I just created a sample project with your desired configuration. Basically to use `cytoscape` plugins you have to hook into the lifecycle methods `preConfig` and `afterCreated`. Take a look here:

https://github.com/rcarcasses/vue-cytoscape-cola

Enjoy!

[2019-02-11 10:17] m-wrzr commented on #4
Thank you so much!!

Created a PR to integrate this example into the main repo #5

[2019-02-11 10:17] #4 closed

[2019-02-11 10:19] rcarcasses commented on #4
Well done, thank you!

[2019-02-11 18:27] ghamarian opened #6 "Plugins such as cytoscape.js-edgehandles"
How to make the interactive feature (<cy-element>) work with plugins such as edgehandles that they create elements internally?

[2019-02-12 09:09] rcarcasses commented on #6
Hi @ghamarian, this is an interesting topic, this plugin allows the dynamic addition of edges to `cytoscape`, so at first glance will break the synchronisation with `vue-cytoscape`. Give me a few days and I'll try to do some modifications to allow the usage of such plugins seamlessly.

[2019-02-12 14:03] ghamarian commented on #6
Thanks. My main goal is to create a similar product like this one: https://www.machine2learn.com/wp-content/uploads/2018/10/main.html

[2019-02-13 22:15] rcarcasses commented on #6
Please take a look to the example in `src/EdgeHandlesExample.vue`, this contains the same example as the `demo` one promoted in the `cytoscape.js-edgehandles` repository. I have made a new release of the package that allows the synchronisation of the `cy-elements` with the ones created directly in `cytoscape` (for instance, those added while using the plugin).

Notice though, that there are some i

[2019-02-13 22:15] #6 closed

[2019-02-13 22:50] ghamarian commented on #6
Thanks!

On Wed, Feb 13, 2019 at 11:15 PM rcarcasses <notifications@github.com>
wrote:

[2019-02-15 16:03] nilshae opened #7 "How to configure the cytoscape component, when the elements are fetched."
Hello, thanks for providing vue-cytoscape!

I struggle with the the initialization of the cytoscape component. I have to fetch my data from a REST-API and parse it to get my elements object. The problem is, that fetching returns a promise, and the component is already rendered when this promise is resolved.  My solution (see code) is to use cy-elements and fetch the data in preConfig, but this see

[2019-02-16 11:28] rcarcasses commented on #7
Hey @nilshae, you're welcome! So I think you have done all the things well, but you are missing to re-run the `layout()` method of `cytoscape` after you dynamically add the new elements. Notice that this is how `cytoscape` works and not related to `vue-cytoscape` at all. I just updated the `src/LayoutExtensionsExample.vue` with a code that illustrate how to use `axios` to load external data and la

[2019-02-16 11:28] #7 closed

[2019-02-16 15:05] nilshae commented on #7
I got it! Thank you for the explanation and the extended example.

[2019-02-17 17:05] zhjuve opened #8 "Cytoscape Expand Collapse plug-in"
Hi,
Really great work done with component!
I am trying to use expand collapse plugin but i can only collapse parent nodes without edges, for nodes with outgoing edges i got total hang and high CPU usage.

[2019-02-17 17:14] rcarcasses commented on #8
Hi @zhjuve, welcome! Can you try to provide a minimum reproducible example so I can reproduce your issue? At first sight it seems like it is mostly related with the plugin configuration/interaction rather than with `vue-cytoscape`.

[2019-02-18 11:23] zhjuve commented on #8
Hi!
Here is very minimal example https://github.com/zhjuve/vuecytoaws
Context menu items have Collapse Expand commands, parent node VPC_default can be collapsed because there are no edges going/coming from outside, where e.g. VPC_Sweden cannot as there are "CONNECTS" edge from "0.0.0.0"

[2019-02-18 11:24] zhjuve commented on #8
Once loaded press Shuffle layout to use some layout as json file have no included.

[2019-02-18 11:34] rcarcasses commented on #8
Thanks for the example, gives a solid point for researching. Anyway I'll take a deeper look later, but from what I see the issues you are experiencing are related more to the behaviour of each of the `cytoscape` plugins themselves (or the combination of them probably) and not due to `vue-cytoscape`. Did you tried to have the same configuration with vanilla `cytoscape`? I would recommend you to do

[2019-02-18 11:39] zhjuve commented on #8
Hi, thanks, actually i am implementing smth like https://github.com/duo-labs/cloudmapper, it is on pure Javascript and it is working there normally.
I found similar issue in https://github.com/cytoscape/cytoscape.js-cose-bilkent/issues/84 so my suspicion is that event handler cannot process change of edge end to collapsed parent node. But i am not a Vue specialist yet to try to disable event handl

[2019-02-18 11:43] rcarcasses commented on #8
This is good information, I will definitively take a look later and will let you know!

[2019-02-19 14:58] vdechef opened #9 "Cytoscape freezes when adding elements after drag"
Using vue-cytoscape v0.2.5, vue-cytoscape freezes during "dragfree" event.
Using v0.2.3 I don't have this problem.
I forked your test project to reproduce this behavior: https://github.com/vdechef/vue-cytoscape-test

The problem occurs because I need to set the elements in cytoscape once a node is draged and released.
Using the project above, just drag a node twice and your browser should freeze (

[2019-02-19 15:02] rcarcasses commented on #9
Hi @vdechef, thanks for reporting this, I'll take a look as soon as I have a chance.

[2019-02-21 23:11] rcarcasses commented on #9
There was indeed a regression in the `v0.2.5`, version, I have fixed the problem in `v0.2.6`, you should update now. Thanks for pointing this out!

[2019-02-21 23:11] #9 closed

[2019-02-22 16:19] rcarcasses commented on #8
Hey there, I just found that there is indeed some issue with the synchronisation between `vue-cytoscape` and `cytoscape`. In the mean time, this should help: update to the latest version and add these hooks to the `cytoscape` component

[code]

[2019-02-23 09:38] rcarcasses commented on #8
Hi there, the issue you were experiencing has been fixed in version `v0.2.8`. I have tested it locally.

Please update to the latest version and let me know any other issue you may experience.

[2019-02-23 09:38] #8 closed

[2019-02-24 13:02] zhjuve commented on #8
Workig now! Thanks a lot!

[2019-02-24 13:06] zhjuve opened #10 "Multiple Cytoscape instances (specify container)"
Hi!
Thanks again for making expand collapse working!
I was trying to make several instances of component and though working it needs to be re-rendered and also plug-in installation bounds to single core instance (btw this also annoying when hot-reload works for dev server it errors with smth like "cannot bind <plugin> to core instance as already bound").

Could you please ability to specify contai

[2019-02-24 13:09] rcarcasses commented on #10
Hi @zhjuve, you're welcome, give me some days to think how to do this properly.

[2019-02-26 21:07] emelendez commented on #10
Hi, that's exactly what i need... various cytoscape instances in their own "tab"... thanx in advanced!!

[2019-03-07 16:43] nilshae opened #11 "Update to newest version (v3.5.0) of cytoscape.js"
Is it possible to update the cytoscape dependency from 3.3.3 to 3.5.0? They added a [new curve-style](http://js.cytoscape.org/#style/taxi-edges), which I would like to include in my project.
Thank you!

[2019-03-12 08:19] wiredgril666 commented on #2
请问解决这个问题了吗？我也遇到了这个问题。开发环境是正常的。然后用webpack 打包后就不行了。@Feng-ChuanJiang

[2019-03-12 08:20] wiredgril666 commented on #2
@Feng-ChuanJiang不过我是用的cytoscape,js 也不是用vue，是用react开发的

[2019-03-12 08:29] Feng-ChuanJiang commented on #2
@wiredgril666  我换成官方的引入方式了

[2019-03-12 08:33] wiredgril666 commented on #2
@Feng-ChuanJiang 哪种是官方的引入方式啊

[2019-03-12 08:44] Feng-ChuanJiang commented on #2
@wiredgril666  以前我是用的是npm i vue-cytoscape这种方式，换成了npm i cytoscape

[2019-03-17 21:34] rcarcasses commented on #11
Hi there, currently the `cytoscape` dependency in `vue-cytoscape` is declared as `^3.3.3` as you can see in https://github.com/rcarcasses/vue-cytoscape/blob/b2a4fc7442855999be5832bda776ead52a5f9314/package.json#L26

This means that when you install `vue-cytoscape` the newest version of `cytoscape` within the same major range, currently `3`, will be used. You may find this tool useful:

https://sem

[2019-03-17 21:34] #11 closed

[2019-03-18 12:18] nilshae commented on #11
I feel so dumb right now!  Thank you for the answer and sry for irrelevant issue.

[2019-03-18 21:18] rcarcasses commented on #11
:)

[2019-04-16 13:16] calebeaires opened #13 "Cant set image to the object"
I tried to change the background to use an PNG picture in replace of color, but it does not work. Here is how I am doing:

[code]
**I have used this aproach on pure javascript and it does work, but right now it does not.**

There is no image with your plugin
<img width="377" alt="Screen Shot 2019-04-16 at 10 14 40" src="https://user-images.githubusercontent.com/794195/56212471-78a09f80-6030-11e9-8

[2019-04-16 13:29] rcarcasses commented on #13
Hi,

It is certainly possible to set background images with this plugin, I'm currently working on a project that does precisely that. It may be the case that your issue is likely to be related with webpack asset resolution, as I can guess from your code.

this may work for you, as it works for me:
[code]

[2019-04-16 15:40] calebeaires commented on #13
Thanks. That worked. As I am using vue + typescript, I had to declare *.png on a *d.ts file:

[code]

[2019-04-17 10:55] rcarcasses commented on #13
I'll close this, since it was not really an issue.

[2019-04-17 10:55] #13 closed

[2019-04-18 06:59] balaram26 opened #14 "Canvas width doesnt fit the container"
Hi,i seem to have the same issue of canvas window not fitting, even when testing your examples from the Repo. Whatever example i load, the "canvas" element always starts from the middle of the page. The width of the canvas never fits its parent container and first of the container is empty always.
 and i my vue versions are :"vue": "^2.5.2" and "vue-cytoscape": "^0.2.8", I have attached my .vue fi

[2019-04-18 10:28] rcarcasses commented on #14
Hi @balaram26, from what you describe it seems like you have a css issue that is causing this. This doesn't look like `vue-cytoscape` issue. Did you imported the library css: `import 'vue-cytoscape/dist/vue-cytoscape.css'`?

[2019-04-18 11:16] herosPan opened #15 "项目克隆完后，怎么查看效果"
我看到代码有很多功能，但我克隆下来，启动智能看到简单的展示
![TIM截图20190418191228](https://user-images.githubusercontent.com/39436000/56357460-6a0fdf00-620e-11e9-86f9-812b4c8910e5.png)

[2019-04-18 11:16] rcarcasses commented on #15
English please :)

[2019-04-18 11:17] rcarcasses commented on #15
yes, that is what you are supposed to see.

[2019-04-18 11:26] herosPan commented on #15
![TIM截图20190418192225](https://user-images.githubusercontent.com/39436000/56357797-54e78000-620f-11e9-9ee3-e89774b557cd.png)

Are these examples not visual?

[2019-04-18 11:28] rcarcasses commented on #15
these are other examples you can try, you have to modify the `src/main.js` file to include one of these components instead the default `App`.

[2019-04-18 11:30] herosPan commented on #15
thank you very much

[2019-04-18 13:07] balaram26 commented on #14
hi @rcarcasses ,yes i rechecked my main.js . Here is sample Vue project i created to test it again without importing any other css based module. Here is the zip file of the whole project.
 https://1drv.ms/u/s!AonI71hfBXuMyIsdHQBcJVrwBu3SvQ

[2019-04-19 13:22] #15 closed

[2019-04-19 13:33] zhjuve commented on #10
Hi, is there any chance to look at that? Thanks.

[2019-04-19 13:36] rcarcasses commented on #10
Hi @zhjuve, sorry to disappoint you but I haven't have time since recently I have had loads of work. It seems to me that we will need to change considerably how things are organised since this was thought to be used with one global instance. Anyway I'll try to do this, just don't know when.

If you have any idea, you are welcome to contribute!

[2019-04-21 07:27] herosPan opened #16 "How to unregister the extension"
If not unregistered the extension might get registered again while development, causing this error:
Can not register `cxtmenu` for `core` since `cxtmenu` already exists in the prototype and can not be overridden

[2019-04-21 08:12] herosPan commented on #16
preConfig(cytoscape) {
      console.log("calling pre-config", config);
      // cytoscape: this is the cytoscape constructor
      // cytoscape.use(cola);
      // cytoscape.use(cxtmenu);
      // cytoscape.use(edgehandles);
      if (typeof cytoscape('core', 'cola') !== 'function') {
        cytoscape.use(cola);
      }
      if (typeof cytoscape('core', 'cxtmenu') !== 'function') {
        cyto

[2019-04-21 08:13] herosPan commented on #16
This can solve multiple registration problems, but the extension will fail.

[2019-04-21 08:46] #16 closed

[2019-04-23 09:20] balaram26 commented on #14
@rcarcasses I think this is caused by "cytoscape.js" itself. I tested it directly and still had the exact same issue when using with vue component.  The only way to fix this was just add additional css to canvas(`canvas {
    left:0;
  }`) to reposition itself inside the container. Though this is not the solution, but it can fix this issue for now.

[2019-04-23 09:20] #14 closed

[2019-04-28 10:18] EHadoux opened #17 "Running the layout in the afterCreated prop."
Hello, this is more to ask if it's the right behaviour than reporting an actual bug because the solution doesn't seem too crazy to be the right way to do it.

So basically, the cytoscape component is in the template like so:
[code]

No element is added in the config, everything is in the ```elements``` property of the parent component.
What I wanted to do is to run a layout in the ```after``` func

[2019-04-28 20:53] EHadoux commented on #16
Can't we get the ```cytoscape``` object through a call to ```VueCytoscape``` so we can register the extensions at the same place we ```Vue.use(VueCytoscape)``` and not in the preConfig?

[2019-04-28 21:10] rcarcasses commented on #16
Hi @EHadoux, what you said it makes sense for me. Nevertheless this somehow enters in conflict with the request #10  to have several instances of `vue-cytoscape` in the same application, since this will basically force all the instances to register the same set of extensions.

Anyway I'll keep this in mind, you are welcome to contribute!

[2019-04-28 22:04] EHadoux commented on #16
Fair enough.
In any case, if think it's better to not register it twice than to unregister then re-register.
Just checking with:
[code]
is enough.
Might be good to specify it in the doc though. I'll try to think about a more elegant way to do it but it seems that cytoscapejs itself does not allow for unregistering so it might be the best way to avoid the error.

Another way might be to do the regi

[2019-04-29 09:17] rcarcasses commented on #16
I like more the second approach, we could have a dictionary with the modules that has been registered up to the moment. Nevertheless, bear in mind that there are several ways to register an extension, take [this](https://github.com/iVis-at-Bilkent/cytoscape.js-context-menus) for instance, you can either register the extension doing `cytoscape.use(contextMenus, $)` if using `ES6` or `contextMenus(

[2019-04-29 09:25] rcarcasses commented on #17
The whole point of providing a pointer to the *promise* to the `cytoscape` instance rather to the instance itself is to hide away all these mundane configurations as you have figured out :).

[2019-04-29 09:25] #17 closed

[2019-04-29 09:32] rcarcasses commented on #17
I would like to add that, yes, indeed, is not clear at all that it will work by just marking the function as `async`, I think it works because this is called after all the `cy-element`'s where actually added, and I would like to thank you for your detailed explanation. Notice anyway, that in this repository there was already [an example](https://github.com/rcarcasses/vue-cytoscape/blob/master/src/

[2019-04-29 10:55] EHadoux commented on #16
You are right, I'll stick to the test in the ```preConfig``` then.

[2019-04-29 11:01] EHadoux commented on #17
Yes, I've seen it, however the behaviour is different there because you add the elements directly to the ```cy``` instance instead of through the ```cy-element```s which alleviate the need to wait for Vue to render them first.

What I've done is to ```await``` the instance in the ```mounted()``` of the parent component and it seems to work so I'll stick with that for now.
Thanks!

[2019-05-05 08:03] herosPan commented on #7
使用cy-element时，若elements元素数据，没有position定位，需要怎么自动布局

[2019-05-05 08:04] herosPan commented on #7
When using cy-element, if the elements data has no position, how do you need to automatically lay out

[2019-05-05 08:08] herosPan opened #18 "The layout in the config does not take effect when using cy-element"
When using cy-element, if the elements data has no position, how do you need to automatically lay out

[2019-05-05 08:14] rcarcasses commented on #18
See #17, there is a great explanation on the beginning. Basically you will have to mark `afterCreated` as `async`:

[code]

[2019-05-05 08:14] #18 closed

[2019-05-05 11:13] herosPan commented on #18
Can be laid out after modification, but only the first time can be accessed, switch routing access again, can not see the map

[2019-05-06 01:36] herosPan commented on #17
I want to know how you initialized it, I can only come out when the chart is first accessed.

[2019-05-06 01:43] herosPan commented on #18
I want to know how you initialized it, I can only come out when the chart is first accessed.

![TIM截图20190505190318](https://user-images.githubusercontent.com/39436000/57203510-4527b400-6fe3-11e9-9588-3e8a74c2297c.png)

[2019-05-06 01:55] herosPan commented on #17
I want to know how you initialized it, I can only come out when the chart is first accessed.

![TIM截图20190505190318](https://user-images.githubusercontent.com/39436000/57203722-0b57ad00-6fe5-11e9-902e-560a8271638b.png)

[2019-05-07 01:23] herosPan opened #19 "Running the layout in the afterCreated when using cy-elements"
[code]

I want to know how you initialized it, I can only come out when the chart is first accessed.Visit the following error again when accessing

![TIM截图20190505190318](https://user-images.githubusercontent.com/39436000/57265306-9f8b4800-70a9-11e9-845f-39bfe03765fc.png)

[2019-05-07 13:38] rcarcasses commented on #19
See an example here [src/LayoutExtensionsWithCyElementsExample.vue](https://github.com/rcarcasses/vue-cytoscape/blob/master/src/LayoutExtensionsWithCyElementsExample.vue), you are doing something wrong.

[2019-05-07 13:38] #19 closed

[2019-05-10 12:21] jrpersico opened #20 "How to use reactivity element and insert data from vuex"
Hello,

I'm trying to find out how to insert my data from my vuex store in `Cyelement.`

Here is an example :

`<template>
  <div class="possession">
    <Navigation></Navigation>
    <b-container fluid>
      <b-row>
        <b-col xl="2" lg="3" md="4">
          <DNavigation></DNavigation>
        </b-col>
        <b-col xl="10" lg="9" md="8">
          <div>
            <b-tabs content-class="m

[2019-05-10 21:01] rcarcasses commented on #20
Hi @jrpersico, first thing I notice is that you are adding elements to `cytoscape` both with `cy-elements` and manually in the `preConfig` hook, this would lead to unpredicted behaviour. I would suggest you to use only the `cy-elements`. Now to get the `cy-elements` updated you may need to change the `key` as to trigger the `vue` rendering of the component, or you can make sure yourself that the e

[2019-05-13 10:00] jrpersico commented on #20
Hi @rcarcasses, thank you for your return. I corrected the code to load the element only once in cyelement.

Here is the code:

[code]
However I still have the same problem, the Vue only starts the first time.

How can I restart the cytoscape element everytime I call the vue?

Thank you for your help.

[2019-05-22 16:15] jrpersico commented on #20
Hi @rcarcasses, do you have any idea ?

Thank you for your help.

[2019-05-22 17:14] rcarcasses commented on #20
Hi @jrpersico, sorry but I can't see an issue with `vue-cytoscape` itself here. The only help I can provide you I guess is to comment you that I personally have use `vue-cytoscape` with `vuex` and things get re-rendered as expected. I would recommend you to read the `elements` from `vuex` state through a `getter` or similar, right now it seems to me that you have hardcoded it.

[2019-06-06 04:44] balaram26 opened #22 "Way to use cy instance outside of afterCreated?"
Hi,

I use 'preconfig' and 'afterCreated' to load the cytoscape graph. Now i need to add cytoscape manipulative functions from vue buttons, but for this i need to use cy element.  By default if i use 'this.$cytoscape.instance' ,it doesn't work unless i reload the whole page using refresh button. Is there any way to access cy element outside of the 'afterCreated'? Because 'this.$cytoscape.instance'

[2019-06-06 10:12] joshhoegen commented on #20
I'm having a similar problem

I see in all your examples you use the component `import Cytoscape from './components/Cytoscape'` without a plugin. When I try using `Vue.use(VueCytoscape)` (Which I see you're using in your parent app), then use the plugin as outlined in the README, I can only render on first load when dealing with extensions. The error I get is `Error: Can not register `edgehandles`

[2019-06-09 23:16] herosPan commented on #22
Has it been resolved? I am also the problem

[2019-06-12 02:27] herosPan opened #23 "Switch routing graph display problem"
When using the cy element, the graphics cannot be loaded for the second time, and the graphics can only be loaded each time the page is refreshed.

 <cytoscape
            :config="config"
            :preConfig="preConfig"
            :afterCreated="afterCreated"

            <cy-element
              v-for="def in elements.nodes"
              :key="`${def.data.id}`"
              :definition="d

[2019-06-12 03:45] #23 closed

[2019-06-12 07:01] herosPan commented on #22
I don't think it's a problem with this.$cytoscape.instance. I assign the elements in the config. This problem will not occur, but Duplicate keys detected: '25'. This may cause an update error. Will it be elements? Assignment problem, what should be done

[2019-06-19 12:25] bkuker commented on #23
@herosPan Did you find a solution? I think this is affecting me as well, but while developing using vue-cli serve and the live updates.

[2019-06-28 09:09] Inzeppelin commented on #23
@herosPan, plus one, did you resolve this one? If so, please, share the solution

[2019-06-28 11:34] bkuker commented on #23
@Inzeppelin What's the problem you are having? We should probably open a ticket, the dev of this component seems pretty responsive.

[2019-07-08 08:43] jrpersico commented on #20
Hello @joshhoegen, I still can not solve my problem unfortunately ... Keep me informed if you can move forward

[2019-07-08 09:34] joshhoegen commented on #20
@jrpersico, I just ended up using the bare cytoscapeJs lib. It wasn't that hard to implement and found it much easier to do some basic things

[2019-07-31 18:03] martell2010 opened #26 "The style property `curve-style: taxi` is invalid"
Hi, thanks for the project. I want to use the curve-style: taxi that are available cytoscape > 3.5, but I get such an error The style property `curve-style: taxi` is invalid. In the dependencies of the plugin version installed `cytoscape@3.8.1` .
Installed - `vue-cytoscape - 0.2.10`

[2019-08-08 11:27] kondziu989 opened #27 "Drag and drop extension"
I tried using compound-drag-and-drop extension with vue-cytoscape and unfortunately there is some kind of bug when trying to drag and drop a node.

Whenever drag is performed as soon as you reach a place it can be dropped it does it immediately and you need to re-drag the node to continue.
Something is breaking the whole dragging event.

I hope you could look into it.

[2019-08-09 08:37] kondziu989 commented on #10
Hi @zhjuve @rcarcasses @emelendez a
Have you somehow resolved this issue?

[2019-09-28 15:04] rcarcasses commented on #22
Hi,

Version `v1.0.1` now support multiple `cytoscape` instances, so you should be able to recreate the component as many times as you need. Beware of the breaking changes. On the other hand, since we no longer have a single `cytoscape` instance, `this.$cytoscape.instance` has been remove since it no longer makes sense. You should use the `cy-element` api as much as possible, if you still need to

[2019-09-28 15:04] #22 closed

[2019-09-28 21:48] rcarcasses commented on #10
Hi everyone, with version `v1.0.1` it is possible to have many cytoscape instances. Notice that the global reference `this.$cytoscape.instance` makes no longer sense in this case and has been deprecated. Please check the new api at [https://rcarcasses.github.io/vue-cytoscape](https://rcarcasses.github.io/vue-cytoscape).

I'll close this issue now but please do not hesitate to reopen it if you cons

[2019-09-28 21:48] #10 closed

[2019-09-30 08:32] zhjuve commented on #10
That's superb! Thanks a lot!

[2019-09-30 10:40] emelendez commented on #10
thanxs a lot, I'll give it a try...

[2019-10-08 18:45] doijunior opened #32 "Update only node's name"
I have a simple cytoscape instance like this:
[code]
My `elements` is computed array from a vuex store:
[code]
When I update adding nodes and edges things work ok, but when I update only node's name the canvas don't update. I do understand that it is a limitation of the reactivity due the changes in an object attribute, but I didn't found how can I call `layout()` again

[2019-10-08 21:47] rcarcasses commented on #32
Hi @doijunior, yes, you are right, currently reactivity support is limited although it could be extended in the future. To re-run the `layout()` again, I would recommend to store the `cy` instance you get in `afterCreated` lifecycle hook and store a reference to it in your component scope, this way you can invoke any method whenever is convenient for you. Let me know if that works for you.

[2019-10-09 14:09] doijunior commented on #32
@rcarcasses I am trying to store in a data variable like this:
[code]
But when I add this, the page never loads (but doesn't throw any error)

[2019-10-10 06:59] rcarcasses commented on #32
what about this?
[code]

[2019-10-10 15:20] aoighost opened #34 "problem with rendering in nuxt"
I'm trying to use vue-cytoscape to render a graph inside a nuxt app and I'm having an issue where the console logs:
element: <cytoscape> - did you register the component correctly? For recursive components, make sure to provide the "name" option.

and

Unknown custom element: <cy-element> - did you register the component correctly? For recursive components, make sure to provide the "name" option.

[2019-10-10 16:23] #34 closed

[2019-10-10 16:30] aoighost opened #35 "Errors while using example code in nuxt"
I'm trying to use the example code in nuxt from codepen and I'm having errors pop up in the console and it's refusing to render the graph. I have no idea what's going wrong here.

The errors are
 [Vue warn]: Injection "cy" not found

found in

---> <CyElement>
       <Pages\knowledgegraph.vue> at pages\knowledgegraph.vue
         <Nuxt>
           <VContent>
             <VApp>
               <Def

[2019-10-10 16:31] aoighost commented on #35
This is the code
`<template>
  <div id="app" class="fullscreen" @load="calculateHeightAndWidth()">
<cytoscape ref="cy" :config="config" v-on:mousedown="addNode" v-on:cxttapstart="updateNode">
  <cy-element
    v-for="def in elements"
    :key="`${def.data.id}`"
    :definition="def"
    v-on:mousedown="deleteNode($event, def.data.id)"
  />
</cytoscape>
  </div>
</template>

<script>
import config

[2019-10-10 21:58] rcarcasses commented on #35
Hi @aoighost, thanks for pointing this out. I'm not sure why this happens neither, but seems like a real issue, I'll keep it in mind. I'll let you know if I find a solution.

[2019-10-10 22:11] joshdvir commented on #35
Faced the same issue today using Vue 2.6.6, upgrade to Vue 2.6.10 solved it.

[2019-10-10 23:55] aoighost commented on #35
So upgrading to nuxt and vue latest, I now get errors on starting with the following:

  5:7  error  Parsing error: Unexpected token
  3 |        <cytoscape                                                                                                   4 |       ref="cyRef"                                                                                                 > 5 |       :config="config

[2019-10-10 23:59] aoighost commented on #35
that jumbled it, here's a pic
https://imgur.com/a/es3MsCT

@joshdvir any chance you can share a working code snippet for how to load cytoscape?

@rcarcasses any chance you can make a code example in a demo folder that shows how to do it without using codepen or anything like that?

[2019-10-11 00:24] joshdvir commented on #35
@aoighost Here is my code

[code]

This is in data()
[code]

This loads without issues

[2019-10-11 03:14] aoighost commented on #35
Thanks, I got it working as well. Had to redo the nuxt project because things were way out of date and needed migrating. There were some linter issues that needed fixing as well.

[2019-10-11 03:14] #35 closed

[2019-10-14 23:37] aoighost opened #36 "Context menu not opening from example"
Hey, I'm trying to open the context menu based on the documentation example in a nuxt/vuetify project and i click and the context menu doesn't open. It appears as though cxtmenu from cytoscape also has the same problem and I'm not sure why it's not popping up the context menus.

[2019-10-15 12:10] aoighost commented on #36
So here's the code

https://gist.github.com/aoighost/7ebb5b6d2312bfbcd12b91003590d78a

it renders the graph, but I also noticed it doesn't console log the id of the node when I click nodes.

[2019-10-15 15:48] gioppoluca opened #37 "Canvas misplaced"
Maybe there are some CSS missing but using vue with bootstrap the graph gets moved right by half the width.
Also nodes cannot be moved but is only possible to  drag the whole graph.
Any hints?
Version of vue-cytoscape latest (1.0.4?)

[2019-10-15 16:44] tomphp opened #38 "How to use this with Typescript?"
Hi, we're trying to use this library in a Typescript project and we're getting the following error:

`TS7016: Could not find a declaration file for module 'vue-cytoscape'. '/project/path/node_modules/vue-cytoscape/dist/vue-cytoscape.common.js' implicitly has an 'any' type.`

I'm pretty new to Typescript and haven't tried creating declaration files before, but I think that's what needs to be done h

[2019-10-15 16:47] rcarcasses commented on #37
hey @gioppoluca , `vue-cytoscape` no longer have css dependencies, so I believe this is due to your local configuration.

[2019-10-15 16:52] rcarcasses commented on #37
this looks like another issue, perhaps if you provide a reproducible example I can give you a hand.

[2019-10-15 21:25] rcarcasses commented on #38
Hey @tomphp, thanks for pointing this out: types were not being published in version `1.0.4`, I have added them in version `1.0.5`, can you give a try and let me know?

[2019-10-16 08:35] tomphp commented on #38
@rcarcasses thanks for such a quick response. I've updated to `1.0.5` and still getting the same error.  `node_modules/vue-cytoscape` looks like this (assuming that there should be a `.d.ts` file in there?):

[code]

[2019-10-16 08:36] rcarcasses commented on #38
yes, there should be a `dist/src/plugin.d.ts` right there, I'll check later during the day as soon as I have a chance.

[2019-10-16 08:38] tomphp commented on #38
@rcarcasses awesome, thank you for looking into this so quickly!

[2019-10-16 09:42] gioppoluca commented on #37
In the link a basic vue.js project with the cytoscape component used in the HelloWorld.
No other things running.
Both behaviours shown:
1) canvas misplaced to the right and mouse seems to "click" further to the right
2) nodes not grabbable and only graph drag working
Environment is linux desktop.
Misbehave both with Firefox and Chrome.
Here the link to the project:
https://we.tl/t-MVHYLDDAh5

[2019-10-16 09:44] gioppoluca commented on #37
Also accessing the site from a windows 10 + Chrome get the same results.
Tested in development.

[2019-10-16 09:45] rcarcasses commented on #37
thanks for sharing, I'll take a look at the end of the day.

[2019-10-16 21:10] rcarcasses commented on #38
Hey @tomphp, fix is now done, example at:

https://github.com/rcarcasses/vue-cytoscape-1.x.x-test

Thanks for contributing with `vue-cytoscape`!

[2019-10-16 21:10] #38 closed

[2019-10-16 21:14] rcarcasses commented on #37
TL;DR: make sure that the default style in `App.vue` is not interfering with your css layout (delete it!).

So I couldn't dive too deep into your code but I just created a simple example that shows the default behavior of `vue-cytoscape`:

https://github.com/rcarcasses/vue-cytoscape-1.x.x-test

As you will see, everything appears in the middle as expected.

I did experience some strange initial be

[2019-10-16 23:56] aoighost commented on #37
@rcarcasses could you please expand that to include showing how to load vue extensions. I'm having problems with that in vuex as well.

[2019-10-17 01:10] aoighost commented on #36
OK, so I partially solved the problem. I didn't add pre config and after created to cytoscape in the template. That being said, now it's saying that context menu already exists in the prototype and errors out.

[2019-10-17 01:10] aoighost commented on #36
Error: Can not register `contextmenu` for `core` since `contextmenu` already exists in the prototype and can not be overridden

[2019-10-17 01:14] aoighost commented on #36
Just found the answer here:
https://github.com/cytoscape/cytoscape.js-panzoom/issues/19

It's working now.

[2019-10-17 01:14] #36 closed

[2019-10-17 06:33] gioppoluca commented on #37
I can confirm that the default VUE app CSS generates gives troubles
` #app { `
`  font-family: 'Avenir', Helvetica, Arial, sans-serif;`
`  -webkit-font-smoothing: antialiased;`
`  -moz-osx-font-smoothing: grayscale;`
`  text-align: center;`
`  color: #2c3e50;`
`}`

By removing the:
**`  text-align: center;`**
All works perfectly even with vue-bootstrap
Thanks for the hint, maybe you can add to yhe

[2019-10-17 06:33] #37 closed

[2019-10-17 07:04] rcarcasses commented on #36
good to hear that you figured out by yourself :)

[2019-10-17 09:01] gioppoluca opened #39 "Data coming from VUEX do not clear old data"
I'm adding nodex using vues.
All works well apart from the fact that when I mutate the state data old nodes and edges to not get removed and I get errors if I try to add nodes with the same name and get the new nodes on top of old ones.
Is something that I'm missing?

[2019-10-17 09:04] gioppoluca opened #40 "How to clean data?"
I'm trying to clean data before changing the graph (I'm using a single cytoscape to show different graph on the push of different buttons).
But I'm getting troubles (see  https://github.com/rcarcasses/vue-cytoscape/issues/39)

[2019-10-18 16:46] doijunior commented on #32
@rcarcasses  with your solution I was able to call `layout()` but the problem wasn`t solved because the graph was rerendered with the old names. I was able to solve it by changing the element `id` along with the name. I didn`t want to change the `id` because this data is recovered from my api, then I created an id concatened with a timestamp from the last name change

[2019-10-18 16:46] #32 closed

[2019-10-28 12:56] bornytm commented on #22
I'm having issues with saving a working reference to the `cytoscape` instance.

Whether I save the instance from the `afterCreated` hook or reference it from the component context (`this.$refs.cy.instance`), I get an error when trying to run `core` functions.

I'm trying to do simply run a layout, but I get the error `TypeError: Cannot read property 'elements' of undefined"`

Which is coming from

[2019-10-29 22:03] bornytm opened #41 "Removing items from elements does not remove them from cytoscape instance"
Adding items to the `elements` array successfully creates them within the cytoscape instance:
[code]
 But removing them:
[code]
Does not remove them from the view, even after running a new layout.

Is this the incorrect way to update the instance? Why is `vue-cytoscape` not respecting the updated `elements` data?

[2019-10-30 07:53] rcarcasses commented on #41
you are mutating the array here:
[code]
instead, reassign it and (I think) it should work:
[code]

[2019-10-30 08:41] bornytm commented on #41
@rcarcasses
[code]
Or even just
[code]
Gives the same result.

FWIW, I would prefer to mutate the array though, to iteratively update the graph rather than be forced to re-initialize, if possible.

[2019-10-30 21:20] bornytm commented on #41
This seems to be the same issue raised by @gioppoluca in #39 and #40, @rcarcasses

[2019-10-31 07:35] rcarcasses commented on #41
is hard to know what could be wrong without a piece of testable code, can you provide such? also, are you using ``:key="`${def.data.id}`"`` in the `cy-element`s?

[2019-10-31 10:28] bornytm commented on #41
[Here is your codesandbox with the delete element implemented.](https://codesandbox.io/s/vue-template-htrcd). It just has the addition of
[code]
I am using ``:key="`${def.data.id}`"`` in the `cy-elements` though I don't understand the "`` `${}` ``" notation.

[2019-10-31 10:33] rcarcasses commented on #41
ok, I'll take a look later, this ``"`${var}`"`` notation is just [template literals](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals) which allows for string interpolation.

[2019-10-31 10:39] bornytm commented on #41
I see- thanks @rcarcasses!

[2019-11-12 16:51] bornytm commented on #41
@rcarcasses have you looked into an/or resolved this? I've tried digging in to your source as well as cytoscope but getting quickly lost.

[2019-11-13 17:58] wfischer42 commented on #20
I started using this library because I wanted reactive data binding to my cytoscape instance, since cytoscape isn't itself reactive. You either have to remove and re-add the elements that changed, or call setter functions like `ele.data(newData).`

I dug into the code, and this library treats cytoscape as if it is reactive, sending observers into the instance so the data updates. This doesn't work

[2019-11-18 12:14] VitaliyDemchuk opened #43 "Can not register `contextMenus`. Already exists in the prototype."
The cytoscape is registered globally in main.ts.

[code]

There is a page on which, depending on the context, a corresponding diagram is displayed.
In the page component, the plugin for the cytoscape is registered "cytoscape.js-context-menus":
[code]
After several transitions through the pages (many instances of the component are created), an error is observed:

[code]

How to fix the error?

[2019-11-18 12:43] VitaliyDemchuk commented on #16
Work for me. Thx!

[2019-11-18 12:48] VitaliyDemchuk commented on #43
Find solution in #16

[2019-11-18 12:48] #43 closed

[2019-11-24 07:29] pkovanen opened #45 "vue-cytoscape does not work with euler layout"
Euler layout hangs at least with Chrome browser. I have verified this with my own component and your example project:

(https://github.com/rcarcasses/vue-cytoscape-cola)

Reproduce:

`npm install --save cytoscape-eule`

Make the following changes to the example code:

[code]

Thank you so much for this great component!

[2019-11-25 20:55] pkovanen opened #46 "Make responsive component using vue-cytoscape"
I'm trying to integrate vue-cytoscape into my application, but I'm having hard time getting the child component (based on vue-cytoscape) to be responsive. There are lots of different style related attributes in the DOM which cannot be configured, and I'm baffled.

The parent component is based on bootstrap. How can I make the child responsive?

<div id="cytoscape-div" width="100%" style="min-heigh

[2019-11-26 16:35] dataway opened #47 "Element height hard-coded to 600px. Seriously?"
The element size is hard coded, in particular the height is set to 600px. Come on man.

https://github.com/rcarcasses/vue-cytoscape/blob/58af89b97a528bda9b1e20ed48822d3e6c499077/src/components/Cytoscape.ts#L28

[2019-11-27 09:36] rcarcasses commented on #47
it is the minimum height possible, not the height what is set, moreover you can override this, this helps a lot as it happens that many css framework will give zero height by default to the component and you see nothing.

I encourage you to be more constructive next time you open an issue.

[2019-11-27 09:36] #47 closed

[2019-11-27 09:38] rcarcasses commented on #39
Hi @gioppoluca, can you update to the latest version of the library and check if it works now for you?

[2019-11-27 09:47] rcarcasses commented on #46
Hi @pkovanen , sorry for the late reply. Cytoscape is mounted in a `div` created here:

https://github.com/rcarcasses/vue-cytoscape/blob/58af89b97a528bda9b1e20ed48822d3e6c499077/src/components/Cytoscape.ts#L26

which has a very basic styling as to work by default. I'm not sure how to make it responsive as per your need but I think a good start could be to target this DOM element with css:
[code]
L

[2019-12-10 14:49] andradf commented on #47
Any suggestions on how to override it? From the outside of the Cytoscape component we don't have direct access to the container element.

[2019-12-10 14:52] rcarcasses commented on #47
I think you can write like:

[code]
let me know if it works for you.

[2019-12-15 13:26] jsinkers opened #48 "Layout not working following example"
My issue is that with vue-cytoscape all nodes show up in the top-left corner, overlapping (when grid layout is specified).  If I use plain cytoscape with all the same elements and config it works as expected with a properly laid out grid.  I've gone back to the start and tried to follow the example given in the guide, but I must be missing something because I still get the same behaviour with over

[2019-12-16 09:38] rcarcasses commented on #48
Hi @jsinkers, yes, I would recommend to call ` layout.run()`, in `afterCreated(cy)` hook, for some plugins you have to do this explicitly. Can you try and let me know if it works?

[2019-12-16 13:21] jsinkers commented on #48
Thanks for that - this is now working.  I modified from #17 as this.$cytoscape.instance isn't available in latest version
[code]

[2019-12-16 13:21] #48 closed

[2019-12-18 12:32] jsinkers opened #49 "Updating layout"
Following on from #48 and #22:
Is there a way to run `layout.run()` if elements are updated?  I'm having the issue that if I update elements, my layout resets such that all elements are in the top left corner.

Perhaps I can call the lifecycle hook `afterCreated` again from the parent, (I think this is what @rcarcasses alluded to in #22), but I'm not sure how to do this. I know I can call `this.$r

[2019-12-18 12:37] rcarcasses commented on #49
Hi @jsinkers, in `afterCreated` hook you can store a reference to the `cy` instance passed and use it later whenever you need. Let me know if it works for you.

[2019-12-19 13:09] jsinkers commented on #49
Thanks for making that clear - that worked for me.
I stored a reference to `cy` instance like this:
[code]

[2019-12-19 13:09] #49 closed

[2019-12-24 13:58] cbarokk commented on #49
Hi,

[2019-12-24 14:01] cbarokk commented on #49
Hi,
I have the same issue as James: nodes gather in top-left corner because layout is null I believe.
However, the fix does not work for me: storing a reference to cy makes my script unresponsive for some reason I dont understand.
Any idea appreciated.

[2019-12-24 15:22] rcarcasses commented on #49
Hi @cbarokk, storing the reference is the right path to go, maybe something else is happening? If you can, please provide a minimal repo with the issue you are experiencing so we can help you further.

[2019-12-25 07:51] cbarokk commented on #49
Thanks @rcarcasses
What's happening to me is that the call **this.cy = cy;** is never returning.
I'll investigate further and see if I can provide a minimal reproducible example.
Thanks again for your responsiveness :)

[2019-12-25 12:09] cbarokk commented on #49
So I cannot store the instance reference for some reason. The assignment call never returns. Definitely something else going on. So I tried a workaround like so.

`
@Watch('elements', { deep: true })
  public async onelementsChanged() {
    const cy = this.$refs.cyRef.instance;
    this.afterCreated(cy);
  }

  async afterCreated(cy) {
    await cy;
    cy.layout(this.config.layout).run();
  }
`
b

[2019-12-25 12:16] rcarcasses commented on #49
I'm not sure why it happens, I have take a look to my own code in some project and I found that what worked for me was the following:
[code]
then you can use `cyPromise` anywhere in your code (you can import it into another component for instance):
[code]
let me know if that helps and merry Christmas :).

[2019-12-25 14:06] cbarokk commented on #49
Thanks a lot @rcarcasses !
It now works for me as well.
Here is my setup.

[code]
Thanks again and Merry Christmas to you too!

[2019-12-26 02:44] cosmorunner opened #50 "Elements not available in afterCreated"
I would like to cy.center() the graph after it has been initialized. I thought to put it into the afterCreated() hook but it is not working, even though the graph itself is loaded properly with layout and style. It just sticks in the top-right corner:
Note: `this.graphCalculated` is passed via a prop.

    <cytoscape ref="cy":config="config" :afterCreated="afterCreated">
        <cy-element

[2019-12-26 08:36] rcarcasses commented on #50
Hi @cosmorunner, I think the solution to your problem goes in the same line as in https://github.com/rcarcasses/vue-cytoscape/issues/49, could you try the solutions provided and let me know if it works for you?

Also `cy.elements()` is empty in `afterCreated` because `cytoscape` has been created, but elements haven't been added yet.

[2019-12-26 12:14] cosmorunner commented on #50
Hi @rcarcasses! Thank you for your quick reply!
It works now with this solution:
At imports of component in which `<cytoscape :afterCreated=afterCreated>` and `<cy-element>` is placed:

    let resolveCy = null;
    export const cyPromise = new Promise(resolve => (resolveCy = resolve));

In methods:

    async afterCreated(cy) {
        resolveCy(cy);
            let cyReady = await cyPromise;

[2019-12-26 12:14] #50 closed

[2020-01-08 10:45] Agostin commented on #23
Hello there! Any solution found? I unfortunately have the same issue :/

[2020-01-08 11:22] rcarcasses commented on #23
@Agostin can you provide a testable repo example with the issue you are experiencing? beware that you have add/remove `cy-elements` and change their keys in order to trigger an update, this is how `vue` works.

[2020-01-15 15:48] PadreSVK opened #51 "CyElement onPositionChange undefined"
Hi I have problem with ```onPositionChange``` method when parameter ```position``` have value ```undefined```.  I dont know from where could be this undefined value, because all my edges and nodes have property ```position``` (some of them with empty array).
I use same cytoscape instance for more "graphs" and this issue appears when I change graph (nodes, edges and config).

[code]
It is possible

[2020-01-15 21:32] rcarcasses commented on #51
Hi @PadreSVK, looks fine to me, can you bump also package version in `package.json` in your pull request?

[2020-01-16 14:01] PadreSVK commented on #51
sure 👍

[2020-01-19 23:40] cosmorunner opened #53 "Continuous frame drop after dragging elements"
Hi, I am using the folling to instantiate <cytoscape> in my Vue component:

    <cytoscape ref="cy"
        :config="graphStyle"

        <cy-element v-for="def in elements" :key="`${def.data.id}`" :definition="def" />
    </cytoscape>

When dragging any nodes, the frames continue to drop over time until its no longer usable. I dont make any HTTP-calls or run manually set functions.

I made a shor

[2020-01-22 11:52] PadreSVK commented on #51
It is ok version in PR title or could be elsewhere?

[2020-01-22 12:01] rcarcasses commented on #53
Hi @cosmorunner, very nice video, it seems like indeed may be a performance problem, can you share with use a minimum repo that we can use as starting point to research this issue? Thanks in advance!

[2020-01-22 12:01] rcarcasses commented on #51
merged, update to version `1.0.8`.

[2020-01-22 12:01] #51 closed

[2020-01-22 12:03] rcarcasses commented on #41
@bornytm is your issue finally solved after updating?

[2020-01-25 14:35] cosmorunner commented on #53
Hi @rcarcasses, here is a minimum repo demonstating the issue:
https://github.com/cosmorunner/vue-cytoscape-frames-drop

Thank you for looking into it!

[2020-02-11 10:20] glisteningly opened #54 "CyElement position sync did not work on cytoscape call layout.run()"
I find it the position of vue list object item didn't change after use a layout running

It wokks when you drag some elements.

i just change the code

`if (this.sync) {
      instance.on('drag', this.selector, event => {`
to

`if (this.sync) {
      instance.on('positon', this.selector, event => {`

then it works correct, the position changes reactivity,  does this modify cause other effects?

[2020-02-13 10:59] rcarcasses commented on #54
Hi @glisteningly, sorry for late reply. I think the modification you did is a good one, I'll test it locally and consider it for next release (feel free to open a pull request though). I'll let you know whenever released, thanks for pointing this out.

[2020-02-18 23:25] wfischer42 opened #55 "Cytoscape instance takes 90s to bind while testing"
I'm working on a fairly complex app and trying to build out a thorough test suite. I was hoping to test the parent of the `cytoscape` component, and even to drill into the cytoscape instance in the tests. Unfortunately, unless I use `shallowMount`, it takes about 90 seconds to bind the value to the component state.

[code]
`Bind Cy: 86007ms`
This isn't a problem while serving or building - only in

[2020-04-10 17:02] bjonnh opened #56 "Edges are not deleted"
It seems that edges are not deleted.

I can see using the Vue inspector that the CyElement doesn't exist anymore, but it is still present in the graph.

It works properly when deleting nodes. (and deleting other nodes does not make the deleted edge disappear so it is not an object not refreshes issue on my side)

[2020-04-10 17:05] bjonnh commented on #56
My Ids had # in them.

[2020-04-10 17:05] #56 closed

[2020-04-15 19:18] mfigueredo commented on #47
A tried a lot of ways to override the min-height however without any sucess. The solution to put `width: 1000px;` does not work. I cannot override the heigth to my desired value because it is smaller than 600px.

Any suggestion to this situation?
Thank in advice!

[2020-04-16 07:43] rcarcasses commented on #47
Hi @mfigueredo, cytoscape is mounted in a `div` with id `cityscape-div`, so css rules should work, did you try this https://github.com/rcarcasses/vue-cytoscape/issues/47#issuecomment-564068790?

[2020-04-16 07:48] rcarcasses commented on #47
Hi @mfigueredo, what about changing css at runtime?
[code]

[2020-04-16 18:41] mfigueredo commented on #47
This worked for me. Thank you a lot, @rcarcasses.

[2020-04-19 20:58] mfigueredo commented on #23
Is there any update about the solution in this case? My problem is similar. When I open the route where I use vue-cytoscape it works fine. However, if swtiching to another route and after back to the original route the vue-cytoscape is not able to plot the new nodes added. Is there some rule for reload the component related to vue-cytoscape?

Thanks in advice.

[2020-05-05 18:41] TJBrunson opened #57 "Layout not setting after loading data"
I am attempting to load data through axios and pass it into a child component that sets up Cytoscape. I have configured the style and display as directed in the documentation, but I get all of my nodes stacked on top of each other.

How can I either, reset the layout after the nodes are added, or have it set automatically when nodes are added?

For reference, here is the relevant part of my templa

[2020-05-05 22:22] TJBrunson commented on #57
Ok, so, it seems like the issue is that this sets the layout before all of the elements are added. If I store the instance of cytoscape and reset the layout from a button press, it corrects the issue.

How can I get the layout to auto update after elements are added?

[2020-05-06 07:22] rcarcasses commented on #57
Hi @TJBrunson,

After you add an element you can call `layout()` again. Check the [`addNode` method in the example](https://rcarcasses.github.io/vue-cytoscape/api.html#cyelement). Something like:
[code]

Let me know if that works for you.

[2020-05-06 15:08] TJBrunson commented on #57
I have solved it by adding a button and clicking it after I ensure the cy-element for loop has ended.  Is there a way I can tell programmatically when the last node I add is added so I can run it then?

[2020-05-06 15:18] TJBrunson commented on #57
I have ran a pretty thorough debug and the issue seems to be either:
1. The nodes have not loaded during the :afterCreated Directive.
2. There is an issue between lines 15340 and 15344 of vue-cytoscape.common.js causing no nodes to be selected into var eles.

I think probably the issue has to do with point 1 because I can use a button to set the layout after render.

[2020-05-06 15:31] TJBrunson commented on #57
ok. This is how I fixed it.

I removed the cy-element v-for loop to add all of the elements and added this code:

[code]

Basically, if you try to set the layout from the afterCreated method, no nodes have been added yet. So instead of adding nodes through the cy-elements tag with a loop, I add them through the cy instance and then set the layout after that method call returns.

[2020-05-06 17:33] TJBrunson opened #58 "Core-js version depricated"
All Core-js version 2.x.x are deprecated and cause build failures. Can you please upgrade to the latest package?

[2020-05-09 10:27] OctaneInteractive opened #59 "Multiple errors using VueCytoscape"
Hi!

I'm attempting to migrate from the regular version of Cytoscape to VueCytoscape 1.0.6, but I'm having a few problems.

In "main.js" I have:

[code]

I've had that code in the target component itself, but the errors are the same regardless, and here is an abridged version of those errors:

The code is:

[code]

I've tried the "config.elements" data in the [CodeSandbox example](https://codesand

[2020-06-27 21:29] yetisir commented on #59
I had a similar issue - I was able to sort it out by upgrading Vue to version 2.6.10 or higher

[2020-07-09 11:24] wfischer42 commented on #59
I've seen similar problems related to `import Vue from 'vue'` before. The error is caused by creating a duplicate global Vue instance. I don't exactly know why it happens, but removing that import solves it when it does pop up.

[2020-07-09 17:47] gioppoluca opened #61 "Layout not working after created"
I'm adding nodes in the "created" hook of VUE after an API call.
I execute the:

[code]

right after the last node added but nothing happens
If I add a new node through a button and reapply the layout I get the layout applyed, but at the "created" the nodes are all piled up in the same spot.
How is possible to make cytoscape react to the population of nodes coming up from API at the start of a pag

[2020-08-15 23:03] yeus commented on #57
There has to be a more elegant way to do this?  I tried your solution  @TJBrunson  and it only works for "cose". "random" or "grid" layouts for example don't work. I wonder if this is to do some async-stuff going on there?

[2020-08-20 16:26] mfigueredo opened #65 "Display nodes not works after switch the route"
Hello,

I have two mais routes in my Vue project:
    - http://localhost:8080/
    -http://localhost:8080/network

When i enter in the http://localhost:8080/network route for the first time, all the stuff I wourl like to do with my network, like add nodes and edgesm works fine. However, when I switch to the route http://localhost:8080/ and backs to the http://localhost:8080/networks, the component

[2020-08-26 13:55] comradethom commented on #57
Anyone find a solution for this yet? It seems a pity to waste the potential of using <cy-element> components when we can't apply a layout after they have initalised.

I've successfully set the layout both using a secondary "layout" button and by explictly calling layout().run() in the afterCreated() when I manually add data, but it seems like a serious issue that layouts dont gel with the <cy-elem

[2020-08-27 13:48] comradethom commented on #65
I've encountered the same bug as @mfigueredo, any update to the current route or navigating away from the page and returning causes the graph not to render, only solvable by a refresh.

[2020-08-27 21:14] daddycocoaman commented on #65
This is definitely an issue, but I found that this particular cause is the cxtmenu (which you've misspelled as "cxmenu" by the way). If you check the console output, you see that it tries to re-register the extension that already exist.

I found that the solution to prevent some of these errors is to create a true/false flag in created() then have preConfig check to see if the flag exists before t

[2020-08-27 21:55] mfigueredo commented on #65
Thanks for the response!
Actually, the code line `if (!cytoscape("core", "cxtmenu"))` in my code ensures that the extension is registered only once.
But I tried your version without success. The issue persists.
Verifying my console, there is nothing being reported there, not even warnings.

[This issue](https://github.com/rcarcasses/vue-cytoscape/issues/23) was very similar to our situation, howev

[2020-08-28 00:32] daddycocoaman commented on #65
I just tried implementing `if (!cytoscape("core", "cxtmenu"))` and it similarly seems to work only when putting the cxtmenu in the conditional similar to the code I posted above. So maybe try in preConfig:

[code]
I still think the main issue is trying to put the layouts (like cose-bilkent) under the conditional. It doesn't look the component cares if you `cytoscape.use(<layout>)` multiple times.

[2020-08-31 11:10] mfigueredo commented on #65
I tried removing all dependecies such as cxtmenu and coseBilkent from the project and the issue still persists. I will try rebuild the from scratch in this case.

[2020-08-31 21:18] daddycocoaman commented on #57
I have a solution, I think. I'm new to frontend stuff so please correct me if my understanding or terminology is wrong. I've been having this same issue of nodes getting stuck in the upper left corner but rendering correctly after I click a "layout" button.

I think the problem with using the cy-elements API is that calling layout.run() gets called before the DOM is aware that something has update

[2020-08-31 21:24] daddycocoaman commented on #61
Hi, could you try this proposed solution? https://github.com/rcarcasses/vue-cytoscape/issues/57#issuecomment-684045652

[2020-09-01 07:20] srisaiyeegharan commented on #41
Hi racarcasses!

I think I have run to the issue on this thread. Removing items from the elements does not remove them from Cytoscape instance.

This is my cyto instance
`<cytoscape ref="cy" :config="config" :preConfig="preConfig" :afterCreated="afterCreated" >
         <cy-element v-for="def in elementsData" :key="def.data.id" :definition="def" />
 </cytoscape>`

I have a computed property which

[2020-09-01 16:14] comradethom commented on #41
I am having a similar issue as @srisaiyeegharan, thought cytoscape does not pick up changes adding elements either.

In the component where I am using `<cytoscape>` and `<cy-element>` I can see that the `elements` property is correctly updated, however the cytoscape collection always remains empty. I am initalising the cytoscape instance without any elements and adding them later.

I can force an

[2020-09-04 11:31] mfigueredo commented on #65
Just to update with my solution: The problem, in my case, is the network layout. In my application, the default layout was the `cos` layout. When using this layout, when switching the route and backing again for the network the Cytoscape was not able to render anything else.
I just replaced my default layout for anyone else, such as `circle` or `random` and everything goes fine.

[2020-11-06 08:58] NamTang opened #68 "is vue-cytoscape compatible with ie11?"
Hello,
I'm running my project with version `1.0.8`, everything works perfectly but when I'm testing with IE11 then it freezes, wouldn't load the component, others work normally with IE11. So is this package compatible with IE11?
I have tried the most basic setup but still not working(works with other browsers), it doesn't load so I can't figure it out how to solve this.

[2020-11-21 19:15] Hehnk opened #69 "Usage of classes"
Hello,

first of all: Great work with this library!

Is there any way to use style classes with your library? So nodes styled differently based on the class selector associated to them? It would be especially interesting to be able to change these classes at run time and thereby change the look of the nodes.

Thanks for your help!
Cheers!

[2020-12-19 13:32] daddycocoaman commented on #69
You can do that with the same cytoscape syntax as the regular cytoscape.js.
https://js.cytoscape.org/#selectors

Here's an example where I change the node image based on a node property, as well as change the colors of nodes and edges based on the current classes of the node which changes as the user interacts with them: https://github.com/daddycocoaman/BeaconGraph/blob/main/frontend/src/cy-config

[2021-01-08 19:21] soipo commented on #57
This workaround worked as well for me

[2021-04-01 14:26] manishpatelUK commented on #57
I can't get this to work either, and @daddycocoaman's solution doesn't seem to do the trick either (maybe I did it wrong).

    <cytoscape ref="cy"
             :config="config"
             v-on:mousedown="mouseDown"
             v-on:cxttapstart="updateNode"
             :afterCreated="afterCreated" :preConfig="preConfig">
    <cy-element
        v-for="def in elements"
        :key="`${def.data

[2021-04-01 15:39] daddycocoaman commented on #57
@manishpatelUK Hi, the most important thing was the wrap any changes or methods called from the cy instance is a nextTick() block.

[2021-04-01 16:03] manishpatelUK commented on #57
Thanks for the quick response @daddycocoaman . I did as below, but still no joy unfortunately.

     afterCreated: function(cy) {
       console.log(cy)
       this.$nextTick(() => {
         cy.layout(this.config.layout).run();
         cy.fit(null, 200);
       });
     }

[2021-04-25 14:03] HulioEglesias opened #75 "How can I handle changing position of node?"
I was tried use `onPositionChange` for cy-element, but it is not work when I drag node.

[2021-06-24 13:32] breakintheweb commented on #75
You can use dragfreeon to accomplish this

[2021-08-02 17:10] harissg opened #83 "URL broken 404 returned"
The URL provided in the docs returns a 404 HTTP response.

```For more details please visit our site:```

```https://rcarcasses.github.com/vue-cytoscape```

Screengrab:
![image](https://user-images.githubusercontent.com/16037654/127898807-6e0a8c2c-0d49-4de8-bf85-a30e88bcb1c0.png)

[2021-08-22 19:26] thearod5 commented on #83
Am I trying to find the documentation for this module as I have a legacy project using this module. Is there any one that can redirect me to the new website?

[2021-08-22 20:05] rcarcasses commented on #83
https://rcarcasses.github.io/vue-cytoscape

[2021-08-22 20:05] #83 closed

[2021-08-24 15:08] harissg opened #90 "TypeError: Cannot read property 'backStorePixelRatio' of null vuejs test."
I am trying to shallowMount and mount found here https://vue-test-utils.vuejs.org/api/options.html#context the VueCytoscape component which is wrapped inside of a Parent component, for testing like so:

`let options: ThisTypedShallowMountOptions<WorkflowVisualization> | undefined = {
            propsData: {
                data: '<xml></xml>',
            },
            stubs: {
                '

[2021-08-29 12:19] thearod5 commented on #7
Hello, does the example referenced here, `syc/LayoutExtensionsExample.vue`, still exist? I am unable to find it.

[2021-08-31 10:44] francescolaruffa opened #91 "cy.nodes() - Invalid attempt to iterate non-iterable instance"
Hello ...
Trying to use cytoscape-dom-node (https://github.com/mwri/cytoscape-dom-node) I got an error with cy.nodes().
The cytoscape-dom-node extesion works properly on cytoscape without vue.
It seams that typescript introduced an issue during transpilation.
Googling the error in console "In order to be iterable, non-array objects must have a [Symbol.iterator]() method." seams that typescript is

[2021-10-04 16:53] alexboost222 opened #95 "Invalid link to the documentation on npmjs.com"
Link: **https://www.npmjs.com/package/vue-cytoscape**
Problem: link on the npmjs.com is **https://rcarcasses.github.com/vue-cytoscape**. By clicking on it you will be redirected to the 404 error page. I guess the link should be something like **https://rcarcasses.github.io/vue-cytoscape**.

[2021-10-17 09:53] sassoli commented on #54
Hi @rcarcasses, I'm facing the same problem.
Any news about this feature?

Thanks

[2021-11-15 15:09] nRekus opened #96 "does vue-cytoscape work with vue3?"
Im relatively new to Vue and Cytoscape.
I created a new Vue project using the vue cli with vue 3.
As I was looking for some example code on the internet i noticed that there is no example code with vue 3 just with vue 2.
So my question is: Is it possible to use vue-cytoscape with the Version 3 of VueJS?

[2021-12-31 18:03] skamansam opened #97 "element's styles should be an option, not hard-coded"
I am adding this as a courtesy, as I am putting together a PR for this feature. For my use-case, I need the cy element to be less than 600px, as I am using it dynamically on many differently sized screens. As such, when sizing lower than 600px, the rendering gets skewed with respect to the background.

[2022-01-09 05:48] ajinkyagadgil opened #99 "How to add a node in this as a node with data?"

[2022-02-28 19:51] supaidaman commented on #96
Also very interested in this, if anyone has a sample, I would love to see it!

[2022-04-05 13:50] LucyLou6 commented on #96
Would very much appreciate a Vue3 compatible version

[2022-05-18 10:45] bengusuunal opened #106 "Vue-cytoscape modal"
Hi, I want to create a modal that can open from menuItems(cytoscape-context-menu). Here is my codes
` {
              id: 'modal',
              content: 'modal', // Display content of menu item
              tooltipText: 'modal', // Tooltip text for menu item
              //image: {src : "remove.svg", width : 12, height : 12, x : 6, y : 4}, // menu icon
              // Filters the elements to h

[2022-06-15 19:25] aentwist commented on #57
For the `afterCreated` workaround, the logic surrounding the `cy` Promise is a little rough. There is no use of async/await or then syntax, which is quite unfortunate, because it is a little hard to follow. I am pretty sure the `cy` Promise is just not being resolved correctly on [line 46](https://github.com/rcarcasses/vue-cytoscape/blob/master/src/components/Cytoscape.ts#L46) before running `afte

[2022-06-16 10:36] rcarcasses commented on #57
Hey guys, sorry for being off but currently I have little time to maintain this. @aentwist I'm happy to hear you/your company are considering to opt in as a maintainer, you are very welcome!

[2022-08-18 16:47] leiyan commented on #37
Thank you so much. I have the same issue and fix it now.